:root {
    --white: #fff;
    --orange: #FE640D;
    --gray: #C1C1E0;
    --black: #202027;
    --black-light: #575768;
}

*::before,
*::after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

select {
    appearance: none;
}

input,
button,
textarea {
    font-family: 'Montserrat', sans-serif;
}

input {
    font-size: 14px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="submit"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: var(--gray);
    font-size: 14px;
}


html {
    touch-action: manipulation;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--black);
}

main {
    flex: 1;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.title--md {
    font-size: 28px;
}

.custom-input__field {
    outline: none;
    padding: 18px 30px;
    border: 1px solid #32323D;
    background: transparent;
    color: var(--gray);
    width: 100%;
}

.header-search .custom-input__field {
    padding-right: 45px;
}

.custom-input__field:focus, .custom-input__field:active {
    outline: none;
}

.button {
    background: var(--orange);
    color: var(--white);
    transition: 200ms ease all;
    font-weight: 600;
}

.button:hover {
    background: #FA7F3A;
}

.header-search:hover input {
    border-color: var(--orange);
}

.header-search-submit:hover svg path {
    fill: var(--orange);
}

.header-catalog-button {
    align-items: center;
    display: inline-flex;
    padding: 19px 30px;
}

.header-catalog-button::before {
    content: url('./images/catalog-lines.svg');
    margin-right: 10px;
}

.header-top {
    background: #32323D;
    padding: 16.5px 0;
}

.header-top__container {
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    transition: 200ms ease all;
    color: var(--gray);
}

.header .nav-item {
    margin-right: 45px;
}

.header .nav-item:last-child {
    margin-right: 0;
}


.nav-item:hover {
    color: #FEFEFE;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 16px;
}

.logo {
    display: inline-flex;
    flex-direction: column;
}

.header .logo {
    margin-right: 20px;
}

.big-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.small-text {
    color: var(--gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.header-search {
    position: relative;
    min-width: 430px;
    margin-right: 30px;
}

.socials {
    display: flex;
}

.header {
    border-bottom: 1px solid #32323D;
}

.header .socials {
    margin-right: 15px;
}

.socials__item {
    width: 46px;
    height: 46px;
    min-width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    background: #575768;
}

.socials__item:last-child {
    margin-right: 0;
}

.callback {
    display: flex;
    align-items: center;
}

.callback-tel-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.callback-text {
    color: var(--gray);
}

.header .callback-text {
    text-align: right;
    margin-right: 30px;
}

.header-search-submit {
    position: absolute;
    right: 18px;
    top: 20px;
}

.callback-tel {
    transition: 200ms ease all;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.callback-tel:hover {
    color: var(--orange);
}

.main-link {
    transition: 200ms ease all;
    color: var(--orange);
    border-bottom: 1px solid var(--orange);
}

.main-link:hover {
    border-color: transparent;

}

.socials__item svg g, .socials__item svg path {
    transition: 200ms ease all;
}

.socials__item:hover svg g, .socials__item:hover svg path {
    opacity: 1;
}

.footer {
    padding-top: 70px;
    padding-bottom: 20px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer .socials {
    margin-top: 50px;
}

.footer-title {
    font-weight: 600;
    color: var(--orange);
    margin-bottom: 20px;
}

.footer-nav-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .nav-item {
    margin-bottom: 20px;
}

.footer-nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0 120px;
}

.footer-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-nav-group--2 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-nav-group--2 .footer-title {
    width: 100%;
}

.footer .callback-tel {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.footer .callback-text {
    margin-bottom: 20px;
}

.footer-contacts {
    display: flex;
    max-width: 235px;
    flex-direction: column;
}

.footer-callback {
    text-align: center;
    padding: 18px;
    margin-bottom: 20px;
}

.footer-address {
    color: var(--gray);
    display: inline-flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.footer-address::before {
    content: url('./images/point.svg');
    margin-right: 8px;
}

.email-link {
    transition: 200ms ease all;
    color: var(--gray);
    display: inline-flex;
    align-items: flex-start;
}

.email-link::before {
    content: url('./images/email.svg');
    margin-right: 10px;
}

.email-link:hover {
    color: var(--orange);
}

.copyright {
    color: var(--gray);
    font-size: 12px;
    text-transform: uppercase;
}

.header-catalog-inner {
    padding: 40px;
    margin: 0;
    list-style: none;
    background: #32323D;
}

.header-catalog-container {
    position: absolute;
    padding-top: 17px;
    opacity: 0;
    z-index: -10;
    transition: 200ms ease all;
}

.header-catalog-item {
    min-width: 270px;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: 200ms ease all;
    display: flex;
    align-items: center;
}

.header-catalog-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.header-catalog-item-link {
    width: 100%;
    font-weight: 600;
}

.header-catalog-item:hover {
    color: var(--orange);
    border-color: var(--orange);
}

.header-catalog-item:hover .header-catalog-submenu .header-catalog-item {
    color: #fff;
    border-color: rgba(255, 255, 255, .1);
}

.header-catalog-item:hover .header-catalog-submenu svg path {
    stroke: #fff;
    stroke-opacity: 0.1;
}

.header-catalog-item svg path {
    transition: 200ms ease all;
}

.header-catalog-item:hover svg path {
    stroke: var(--orange);
    stroke-opacity: 1;
}

.header-catalog-submenu {
    position: absolute;
    padding: 40px;
    height: calc(100% - 17px);
    top: 17px;
    width: 100%;
    background: #32323D;
    z-index: 5;
    display: none;
    right: calc(-100% + 40px);
}

.header-catalog-submenu .header-catalog-item:hover {
    color: var(--orange) !important;
    border-color: var(--orange) !important;
}

.header-catalog-submenu .header-catalog-item:hover svg path {
    stroke: var(--orange);
    stroke-opacity: 1;
}

.header-catalog:hover .header-catalog-container {
    z-index: 10;
    opacity: 1;
}

.header-catalog-item:hover .header-catalog-submenu {
    display: block;
}

.hero__container {
    display: flex;
    justify-content: space-between;
}

.hero-info {
    width: 780px;
}

.hero-line {
    min-width: 350px;
    width: 350px;
    background: rgba(87, 87, 104, 0.31);
    backdrop-filter: blur(21.5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 130px;
}

.hero__title {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
}

.hero__title span {
    color: var(--orange);
}

.hero-image {
    width: 100%;
}

.hero__desc {
    margin: 30px 0 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    max-width: 575px;
    color: var(--gray);
}

.button--circle {
    padding: 18px 50px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.button--circle::after {
    content: url('./images/elipse.svg');
    margin-left: 10px;
    position: relative;
    top: 1px;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    line-height: 29px;
}

.about-desc {
    color: var(--gray);
}

.about-desc strong {
    color: #fff;
}

.about-title {
    margin-bottom: 25px;
}

.hero .about-text {
    padding-top: 205px;
    padding-bottom: 100px;
}

.count-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.count-value {
    font-weight: 500;
    font-size: 90px;
    line-height: 110px;
    color: var(--orange);
}

.count--w .count-value {
    color: #fff;
}

.hero-line .count {
    padding-left: 60px;
}

.hero {
    position: relative;
    overflow-x: hidden;
}

.hero-track {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 35px;
    max-height: 626px;
}

.advantages__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}

.advantages__line {
    width: 700px;
    display: flex;
}

.advantages__line .count {
    width: 50%;
    padding: 100px 60px;
}

.count--orange {
    background: var(--orange);
}

.count--gray {
    background: #575768;
}

.advantages {
    padding-bottom: 130px;
    background: #32323C;
}

.advantages__title {
    margin-bottom: 30px;
}

.advantsges-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.advantages__item {
    padding-right: 30px;
    border-right: 1px solid #575768;
}

.advantages__item:last-child {
    padding-right: 0;
    border: none;
}

.advantages__item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0 20px;
}

.advantages__item-desc {
    line-height: 20px;
    color: var(--gray);
}

.popular {
    padding-top: 100px;
}

.popular__title {
    margin-bottom: 30px;
}

.product-preview {
    display: flex;
    background: #32323C;
    margin-bottom: 50px;
}

.product-preview:last-child {
    margin-bottom: 30px;
}

.product-preview__image {
    width: 400px;
    object-fit: cover;
}

.product-preview__info {
    flex: 1;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.product-preview__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 11px;
}

.product-preview_availability {
    color: #75CB08;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-preview_availability::before {
    content: '● ';
}

.product-preview__prices {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.product-preview__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding-right: 10px;
}

.product-preview__old-price {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-right: 10px;
    color: #BBBBBB;
    position: relative;
}

.product-preview__old-price::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 10px;
    transform: rotate(-10.75deg);
    background: #BBBBBB;
}

.product-preview__discount {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 3px 6px;
    background: var(--orange);
}

.product-preview__options {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.product-preview__option {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
    flex: auto;
}

.product-preview__option:last-of-type {
    margin-right: 0;
    border-right: none;
}


.product-preview__option-title {
    color: var(--gray);
}

.product-preview__option-value {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-top: 4px;
}

.product-preview__button {
    height: 86px;
    width: 285px;
}

.button--show-more {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #32323C;
    padding: 26px;
}

.button--show-more::after {
    content: url('./images/down.svg');
    margin-left: 10px;
}

.button--show-more:hover {
    background: #575768;
}

.category {
    padding-top: 100px;
    padding-bottom: 100px;
}

.category__title {
    margin-bottom: 30px;
}

.product-preview_availability--false {
    color: var(--orange);
}

.product-preview__price-request {
    color: var(--orange);
}

.white-block {
    background: #fff;
    padding-top: 100px;
    color: var(--black);
    padding-bottom: 100px;
}

.parts__title {
    margin-bottom: 30px;
}

.title {
    margin-bottom: 30px;
}

.parts-slide {
    width: 100%;
    height: 280px;
    position: relative;
    padding: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    background: #F0F3F7;
}

.parts-slide__title {
    margin-bottom: 18px;
    position: relative;
    z-index: 3;
}

.parts-slide__link {
    transition: 200ms ease all;
    position: relative;
    z-index: 3;
    opacity: 0;
}

.parts-slide:hover .parts-slide__link {
    opacity: 1;
}

.parts-slide__main-image {
    position: absolute;
    max-width: 100%;
    right: 0;
    bottom: 0;
}

.parts-slider-container {
    position: relative;
}

.arrow-link {
    position: absolute;
    z-index: 3;
    top: calc(50% - 16px);
}

.arrow-link--left {
    left: -40px;
}

.arrow-link--right {
    right: -40px;
}

.arrow-link svg path {
    transition: 200ms ease all;
}

.arrow-link:hover svg path {
    stroke: var(--orange);
}

.news {
    padding-top: 100px;
}

.link-more {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: var(--orange);
}

.link-more::after {
    content: url('./images/link-more.png');
    transition: 200ms ease all;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.link-more:hover::after {
    top: -2px;
}

.news__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 44px;
}

.news__item-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.news__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    min-height: 52px;
    margin: 30px 0 20px;
}



.title--md {
    margin-bottom: 20px;
}

.seo-text p {
    color: #575768 !important;
    line-height: 20px !important;
    font-size: 14px !important;
}

.list {
    padding-left: 20px;
    font-weight: 500;
    color: #575768;
}

.seo-text .list {
    color: #575768;
}

.list li {
    line-height: 27px;
    list-style: none;
    position: relative;
    margin-bottom: 10px;
}

.list li::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: -20px;
    background: var(--orange);
}

.breadcrumbs {
    padding: 0;
    margin-bottom: 35px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.breadcrumbs__item {
    transition: 200ms ease all;
    margin-right: 23px;
    color: var(--gray);
}

.breadcrumbs__item:hover {
    color: #fff;
}

.breadcrumbs__item:last-child:hover {
    color: var(--gray);
}

.breadcrumbs__item::after {
    content: '/';
    color: var(--orange);
    position: relative;
    right: -10px;
}

.breadcrumbs__item:last-child::after {
    content: none;
}

.news-page .news {
    padding-top: 0;
    padding-bottom: 100px;
}

.pagination {
    margin: 0;
    margin-top: 70px;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    align-items: flex-end;
    list-style: none;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
}

.pagination__item {
    margin: 0 7.5px;
}

.pagination__item-link {
    transition: 200ms ease all;
    border-bottom: 1px solid transparent;
}

.pagination__item-link:hover {
    color: var(--orange);
}

.pagination__item--active .pagination__item-link {
    color: var(--orange);
    border-color: var(--orange);
}


.post {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.post__image {
    margin-bottom: 40px;
    width: 100%;
}

.post-page p {
    color: var(--gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.post-page strong {
    color: #fff;
}

.post-page ul {
    color: var(--gray);
}

.list a {
    color: var(--orange);
    transition: 200ms ease all;
    text-decoration: underline;
}

.list a:hover {
    text-decoration: none;
}

.post-page .news {
    padding-top: 70px;
    padding-bottom: 100px;
}

.main-page .seo-text {
    padding-top: 100px;
}

.delivery p {
    font-size: 16px;
}

.delivery__desc {
    margin-bottom: 40px;
}

.delivery__items-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 30px;
}

.delivery {
    padding-bottom: 100px;
}

.delivery__items-container {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.delivery__item {
    display: flex;
    align-items: center;
    padding: 55px 65px;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid #32323D;
}

.delivery__item-icon {
    margin-right: 40px;
}

.delivery__item-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--orange);
}

.delivery__item-desc {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
}

.payment__container {
    margin-top: 27px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
}

.payment__item {
    display: flex;
    align-items: flex-start;
}

.payment__item:first-child {
    margin-right: 70px;
}

.payment__item-image {
    margin-right: 30px;
}

.payment__title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}

.payment__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: var(--gray);
}

.payment__contacts {
    display: flex;
}

.payment__contacts-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.payment__contacts-item:first-child {
    margin-right: 120px;
}

.payment__contacts-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 12px;
}

.payment .callback-tel {
    font-weight: 600;
    font-size: 28px;
    color: var(--orange);
    position: relative;
    bottom: 8px;
}

.payment .callback-tel:hover {
    color: #fff;
}

.about {
    display: flex;
    justify-content: space-between;
}

.about-page .about-text {
    padding-bottom: 100px;
    max-width: 900px;
}

.about-page .hero-line {
    justify-content: flex-end;
}

.about-page .advantages__header {
    align-items: flex-start;
}

.about-page .advantages__header-items {
    padding-top: 60px;
}

.documents {
    padding-top: 60px;
    padding-bottom: 100px;
}

.documents__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}

.documents__item-image {
    width: 100%;
    height: 310px;
    object-fit: cover;
    transition: 200ms ease all;
}

.documents__item:hover .documents__item-image {
    transform: scale(1.02);
}

.video {
    padding-bottom: 100px;
}

.video__items {
    display: grid;
}

.video__item-src {
    width: 100%;
    display: none;
    height: 100%;
}

.video__items {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
}

.video__item-title {
    margin: 20px 0 10px;
    font-weight: 700;
    font-size: 16px;
}

.video__item-desc {
    color: var(--gray);
    font-size: 16px;
    line-height: 26px;
}

.video__item-container {
    width: 100%;
    height: 385px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video__item-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
}

.video__item-container::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 4;
    transition: 200ms ease all;
}

.video__item-container:hover::before {
    background: rgba(0, 0, 0, 0.5);
}

.video__item-controls {
    position: relative;
    z-index: 5;
}

.video-item__play {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.video__item-control-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
}

.video-item__play-icon {
    transition: 200ms ease all;
}

.video-item__play:hover .video-item__play-icon {
    transform: scale(1.1);
}

.video__item-container--active::before {
    content: none;
}

.guarantee {
    padding-bottom: 100px;
}

.guarantee strong {
    color: #fff;
}

.guarantee li {
    color: var(--gray);
}

.category-page__container {
    padding-bottom: 100px;
}

.product__main-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
}

.product__image {
    width: 680px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
}

.product__description {
    flex: 1;
}

.product__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
}

.product__option {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.product__price {
    margin-bottom: 20px;
}

.product__option-title {
    margin-right: 20px;
    color: var(--gray);
}

.product__option-value {
    font-weight: 700;
}

.product__all-option {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.product__all-option {
    border-bottom-style: dashed;
}

.product__all-option::after {
    content: url('./images/down.svg');
    position: absolute;
    right: -15px;
    top: 1px;
}

.product__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product__callback {
    margin-top: 25px;
    padding: 18px 50px;
}

.product__desc {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

.product p {
    font-size: 14px;
}

.product .list {
    font-size: 14px;
    color: var(--gray);
}

.product__all-options {
    max-width: 700px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.product-page .popular {
    padding-bottom: 100px;
    padding-top: 0;
}

.contacts-page .callback-tel {
    display: inline-flex;
    align-items: center;
}

.contacts-page .callback-tel::before {
    content: url('./images/tel.svg');
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.contacts__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
}

.contacts-page .footer-address {
    max-width: 220px;
    margin: 0 40px;
}

.contacts__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.map {
    width: 680px;
    height: 450px;
    margin-left: 20px;
}

.contacts__main-info {
    flex: 1;
}

.contacts__tab-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: 200ms ease all;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.contacts__tab {
    padding-bottom: 15px;
}

.contacts__tab-title svg path {
    transition: 200ms ease all;
}

.contacts__tab-inner {
    padding-top: 15px;
    display: none;
    padding-left: 30px;
}

.contacts__tab-item-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray);
    margin-bottom: 5px;
}

.contacts__tab-item {
    margin-bottom: 20px;
}

.contacts__tab-item-value {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    transition: 200ms ease all;
}

.contacts__tab-item a:hover {
    color: var(--orange);
}

.contacts__tab-title:hover {
    color: var(--orange);
}

.contacts__tab-title:hover svg path {
    stroke: var(--orange);
}

.contacts__tab--active .contacts__tab-title {
    color: var(--orange);
}

.contacts__tab--active .contacts__tab-title svg {
    transform: rotate(180deg);
}

.contacts__tab--active .contacts__tab-title svg path {
    stroke: var(--orange);
}

.contacts__tab--active .contacts__tab-inner {
    display: block;
}

.contacts__info {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 80px;
}

.contacts__part {
    width: calc(50% - 10px);
}

.contacts__part .title {
    margin-bottom: 40px;
}

.contacts__info-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.contacts__info-item-title {
    color: var(--gray);
    min-width: 240px;
    margin-right: 20px;
}

.modal {
    background: #fff;
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 480px;
    padding: 50px 70px;
    color: var(--black);
    position: relative;
}

.modal--hidden {
    display: none;
}

.modal-close {
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 25px;
}

.modal-close:hover svg path {
    stroke: var(--orange);
}

.callback-form__title {
    text-align: center;
}

.input-title {
    font-weight: 500;
    margin-bottom: 5px;
}

.modal .custom-input {
    margin-bottom: 15px;
}

.modal .custom-input input {
    border-color: #E6E6E6;
}

.modal .custom-input:hover input {
    border-color: var(--orange);
}

.modal input, .modal input::placeholder {
    font-weight: 500;
    font-size: 14px;
    color: var(--black);
}

.input-title--required::after {
    content: ' *';
    color: var(--orange);
}

.custom-input--has-error input {
    border-color: var(--orange) !important;
}

.help-block {
    color: var(--orange);
    font-weight: 500;
    margin-top: 5px;
}

.modal-submit {
    border: none;
    outline: none;
    width: 100%;
    padding: 18px;
    color: #fff !important;
}

.form-note {
    margin-top: 13px;
    font-size: 12px;
    line-height: 21px;
}

.form-note a {
    text-decoration: underline;
}

.form-note a:hover {
    text-decoration: none;
}

.form-success {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-success__title {
    margin: 20px 0 5px;
}

.form-success__desc {
    font-weight: 500;
    font-size: 18px;
}

.modal--success {
    padding: 50px;
}

.modal--success .callback-form {
    display: none;
}

.modal--success .form-success {
    display: flex;
}

.search-submit {
    display: none;
}