:root {
    --white: #fff;
    --orange: #FE640D;
    --gray: #C1C1E0;
    --black: #202027;
    --black-light: #575768;
}

*::before,
*::after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

select {
    appearance: none;
}

input,
button,
textarea {
    font-family: 'Montserrat', sans-serif;
}

input {
    font-size: 14px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="submit"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: var(--gray);
    font-size: 14px;
}


html {
    touch-action: manipulation;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--black);
}

main {
    flex: 1;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.title--md {
    font-size: 28px;
}

.custom-input__field {
    outline: none;
    padding: 18px 30px;
    border: 1px solid #32323D;
    background: transparent;
    color: var(--gray);
    width: 100%;
}

.header-search .custom-input__field {
    padding-right: 45px;
}

.custom-input__field:focus, .custom-input__field:active {
    outline: none;
}

.button {
    background: var(--orange);
    color: var(--white);
    transition: 200ms ease all;
    font-weight: 600;
}

.button:hover {
    background: #FA7F3A;
}

.header-catalog-button {
    align-items: center;
    display: inline-flex;
    padding: 19px 30px;
}

.header-catalog-button::before {
    content: url('./images/catalog-lines.svg');
    margin-right: 10px;
}

.header-top {
    background: #32323D;
    padding: 16.5px 0;
}

.header-top__container {
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    transition: 200ms ease all;
    color: var(--gray);
}

.header .nav-item {
    margin-right: 45px;
}

.header .nav-item:last-child {
    margin-right: 0;
}


.nav-item:hover {
    color: #FEFEFE;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 16px;
}

.logo {
    display: inline-flex;
    flex-direction: column;
}

.header .logo {
    margin-right: 20px;
}

.big-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.small-text {
    color: var(--gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.header-search {
    position: relative;
    min-width: 430px;
    margin-right: 30px;
}

.socials {
    display: flex;
}

.header {
    border-bottom: 1px solid #32323D;
}

.header .socials {
    margin-right: 15px;
}

.socials__item {
    width: 46px;
    height: 46px;
    min-width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    background: #575768;
}

.socials__item:last-child {
    margin-right: 0;
}

.callback {
    display: flex;
    align-items: center;
}

.callback-tel-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.callback-text {
    color: var(--gray);
}

.header .callback-text {
    text-align: right;
    margin-right: 30px;
}

.header-search-submit {
    position: absolute;
    right: 18px;
    top: 20px;
}

.callback-tel {
    transition: 200ms ease all;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.callback-tel:hover {
    color: var(--orange);
}

.callback-modal {
    transition: 200ms ease all;
    color: var(--orange);
    border-bottom: 1px solid var(--orange);
}

.callback-modal:hover {
    border-color: transparent;
}

.socials__item svg g, .socials__item svg path {
    transition: 200ms ease all;
}

.socials__item:hover svg g, .socials__item:hover svg path {
    opacity: 1;
}

.footer {
    padding-top: 70px;
    padding-bottom: 20px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer .socials {
    margin-top: 50px;
}

.footer-title {
    font-weight: 600;
    color: var(--orange);
    margin-bottom: 20px;
}

.footer-nav-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .nav-item {
    margin-bottom: 20px;
}

.footer-nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0 120px;
}

.footer-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-nav-group--2 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-nav-group--2 .footer-title {
    width: 100%;
}

.footer .callback-tel {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.footer .callback-text {
    margin-bottom: 20px;
}

.footer-contacts {
    display: flex;
    max-width: 235px;
    flex-direction: column;
}

.footer-callback {
    text-align: center;
    padding: 18px;
    margin-bottom: 20px;
}

.footer-address {
    color: var(--gray);
    display: inline-flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.footer-address::before {
    content: url('./images/point.svg');
    margin-right: 8px;
}

.email-link {
    transition: 200ms ease all;
    color: var(--gray);
    display: inline-flex;
    align-items: flex-start;
}

.email-link::before {
    content: url('./images/email.svg');
    margin-right: 10px;
}

.email-link:hover {
    color: var(--orange);
}

.copyright {
    color: var(--gray);
    font-size: 12px;
    text-transform: uppercase;
}

.header-catalog-inner {
    padding: 40px;
    margin: 0;
    list-style: none;
    background: #32323D;
}

.header-catalog-container {
    position: absolute;
    padding-top: 17px;
    opacity: 0;
    z-index: -10;
    transition: 200ms ease all;
}

.header-catalog-item {
    min-width: 270px;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: 200ms ease all;
    display: flex;
    align-items: center;
}

.header-catalog-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.header-catalog-item-link {
    width: 100%;
    font-weight: 600;
}

.header-catalog-item:hover {
    color: var(--orange);
    border-color: var(--orange);
}

.header-catalog-item:hover .header-catalog-submenu .header-catalog-item {
    color: #fff;
    border-color: rgba(255, 255, 255, .1);
}

.header-catalog-item:hover .header-catalog-submenu svg path {
    stroke: #fff;
    stroke-opacity: 0.1;
}

.header-catalog-item svg path {
    transition: 200ms ease all;
}

.header-catalog-item:hover svg path {
    stroke: var(--orange);
    stroke-opacity: 1;
}

.header-catalog-submenu {
    position: absolute;
    padding: 40px;
    height: 100%;
    top: 17px;
    width: 100%;
    background: #32323D;
    z-index: 5;
    display: none;
    right: calc(-100% + 40px);
}

.header-catalog-submenu .header-catalog-item:hover {
    color: var(--orange) !important;
    border-color: var(--orange) !important;
}

.header-catalog-submenu .header-catalog-item:hover svg path {
    stroke: var(--orange);
    stroke-opacity: 1;
}

.header-catalog:hover .header-catalog-container {
    z-index: 3;
    opacity: 1;
}

.header-catalog-item:hover .header-catalog-submenu {
    display: block;
}

.hero__container {
    display: flex;
    justify-content: space-between;
}

.hero-info {
    width: 780px;
}

.hero-line {
    min-width: 350px;
    width: 350px;
    background: rgba(87, 87, 104, 0.31);
    backdrop-filter: blur(21.5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 130px;
}

.hero__title {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
}

.hero__title span {
    color: var(--orange);
}

.hero-image {
    width: 100%;
}

.hero__desc {
    margin: 30px 0 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    max-width: 575px;
    color: var(--gray);
}

.button--circle {
    padding: 18px 50px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.button--circle::after {
    content: url('./images/elipse.svg');
    margin-left: 10px;
    position: relative;
    top: 1px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
}

.about-desc {
    color: var(--gray);
}

.about-desc strong {
    color: #fff;
}

.about-title {
    margin-bottom: 25px;
}

.hero .about-text {
    padding-top: 205px;
    padding-bottom: 100px;
}

.count-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.count-value {
    font-weight: 500;
    font-size: 90px;
    line-height: 110px;
    color: var(--orange);
}

.count--w .count-value {
    color: #fff;
}

.hero-line .count {
    padding-left: 60px;
}

.hero {
    position: relative;
    overflow-x: hidden;
}

.hero-track {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 35px;
    max-height: 626px;
}

.advantages__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}

.advantages__line {
    width: 700px;
    display: flex;
}

.advantages__line .count {
    width: 50%;
    padding: 100px 60px;
}

.count--orange {
    background: var(--orange);
}

.count--gray {
    background: #575768;
}

.advantages {
    padding-bottom: 130px;
    background: #32323C;
}

.advantages__title {
    margin-bottom: 30px;
}

.advantsges-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.advantages__item {
    padding-right: 30px;
    border-right: 1px solid #575768;
}

.advantages__item:last-child {
    padding-right: 0;
    border: none;
}

.advantages__item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0 20px;
}

.advantages__item-desc {
    line-height: 20px;
    color: var(--gray);
}

.popular {
    padding-top: 100px;
}

.popular__title {
    margin-bottom: 30px;
}

.product-preview {
    display: flex;
    background: #32323C;
    margin-bottom: 50px;
}

.product-preview:last-child {
    margin-bottom: 30px;
}

.product-preview__image {
    width: 400px;
    object-fit: cover;
}

.product-preview__info {
    flex: 1;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.product-preview__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 11px;
}

.product-preview_availability {
    color: #75CB08;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-preview_availability::before {
    content: '● ';
}

.product-preview__prices {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.product-preview__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding-right: 10px;
}

.product-preview__old-price {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-right: 10px;
    color: #BBBBBB;
    position: relative;
}

.product-preview__old-price::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 10px;
    transform: rotate(-10.75deg);
    background: #BBBBBB;
}

.product-preview__discount {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 3px 6px;
    background: var(--orange);
}

.product-preview__options {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.product-preview__option {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
    flex: auto;
}

.product-preview__option:last-of-type {
    margin-right: 0;
    border-right: none;
}


.product-preview__option-title {
    color: var(--gray);
}

.product-preview__option-value {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-top: 4px;
}

.product-preview__button {
    height: 86px;
    width: 285px;
}

.button--show-more {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #32323C;
    padding: 26px;
}

.button--show-more::after {
    content: url('./images/down.svg');
    margin-left: 10px;
}

.button--show-more:hover {
    background: #575768;
}

.category {
    padding-top: 100px;
    padding-bottom: 100px;
}

.category__title {
    margin-bottom: 30px;
}

.product-preview_availability--false {
    color: var(--orange);
}

.product-preview__price-request {
    color: var(--orange);
}

.white-block {
    background: #fff;
    padding-top: 100px;
    color: var(--black);
    padding-bottom: 100px;
}

.parts__title {
    margin-bottom: 30px;
}

.title {
    margin-bottom: 30px;
}

.parts-slide {
    width: 100%;
    height: 280px;
    position: relative;
    padding: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    background: #F0F3F7;
}

.parts-slide__title {
    margin-bottom: 18px;
    position: relative;
    z-index: 3;
}

.parts-slide__link {
    transition: 200ms ease all;
    position: relative;
    z-index: 3;
    opacity: 0;
}

.parts-slide:hover .parts-slide__link {
    opacity: 1;
}

.parts-slide__main-image {
    position: absolute;
    max-width: 100%;
    right: 0;
    bottom: 0;
}

.parts-slider-container {
    position: relative;
}

.arrow-link {
    position: absolute;
    z-index: 3;
    top: calc(50% - 16px);
}

.arrow-link--left {
    left: -40px;
}

.arrow-link--right {
    right: -40px;
}

.arrow-link svg path {
    transition: 200ms ease all;
}

.arrow-link:hover svg path {
    stroke: var(--orange);
}

.news {
    padding-top: 100px;
}

.link-more {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: var(--orange);
}

.link-more::after {
    content: url('./images/link-more.png');
    transition: 200ms ease all;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.link-more:hover::after {
    top: -2px;
}

.news__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.news__item-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.news__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    min-height: 52px;
    margin: 30px 0 20px;
}

.seo-text {
    padding: 100px 0 0;
}

.title--md {
    margin-bottom: 20px;
}

.seo-text p {
    color: #575768;
    line-height: 20px;
    font-size: 14px;
}

.seo-text ul {
    padding-left: 20px;
    font-weight: 500;
    color: #575768;
}

.seo-text ul li {
    line-height: 27px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
}

.seo-text ul li::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -20px;
    background: var(--orange);
}